@model SxVMSiteSettings
@{
    ViewBag.Title = "Настройки сайта";
    var message = TempData["EditEmptyGameMessage"];
}

@section styles{
    <link href="~/Areas/Admin/content/dist/css/lightbox.min.css" rel="stylesheet" />
    <style type="text/css">
        .grid-pictures tbody > tr > td:last-child{
            text-align:center;
            vertical-align:middle;
        }
    </style>
}

<h2>@ViewBag.Title</h2>
<br />
@if (message != null)
{
    <p class="text-success">@message</p>
}
<form method="post" action="@Url.Action("Editsite","SiteSettings")" autocomplete="off">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.OldSiteDomain)
    @Html.HiddenFor(x => x.OldLogoPath)
    @Html.HiddenFor(x => x.OldSiteName)
    @Html.HiddenFor(x => x.OldSiteBgPath)
    @Html.HiddenFor(x => x.OldSiteFaveiconPath)
    @Html.HiddenFor(x => x.OldSiteDesc)

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                @Html.LabelFor(x => x.SiteDomain, new { @class = "control-label" })
                @Html.EditorFor(x => x.SiteDomain, new { htmlAttributes = new { @class = "form-control", @placeholder = "Введите домен управляемого сайта" } })
                @Html.ValidationMessageFor(x => x.SiteDomain)
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                @Html.LabelFor(x => x.SiteName, new { @class = "control-label" })
                @Html.EditorFor(x => x.SiteName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Введите наименование сайта" } })
                @Html.ValidationMessageFor(x => x.SiteName)
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label class="control-label" for="LogoPath">Фото владельца</label>
                @Html.EditorFor(x => x.LogoPath, new { htmlAttributes = new { @class = "form-control", @placeholder = "Введите путь к изображению" } })
                @Html.ValidationMessageFor(x => x.LogoPath)
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.SiteDesc, new { @class = "control-label" })
        @Html.EditorFor(x => x.SiteDesc, new { htmlAttributes = new { @class = "form-control", @placeholder = "Введите описание сайта" } })
        @Html.ValidationMessageFor(x => x.SiteDesc)
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </div>
</form>

@section scripts{
    <script src="~/Areas/Admin/content/dist/js/lightbox.min.js"></script>
    <script src="~/bower_components/ckeditor/ckeditor.js"></script>
    <script>
        if (CKEDITOR.instances['SiteDesc']) {
            CKEDITOR.remove(CKEDITOR.instances['SiteDesc']);
        }
        CKEDITOR.replace('SiteDesc', { height: 300 });

        $(function () {
            $('#LogoPath, #SiteBgPath, #SiteFaveiconPath').sx_gvl();

            $('#LogoPath').on('click', 'a', function (event) {
                event.stopPropagation();
            });
        });
    </script>
}