@using System.Globalization;
@model SxExtantions.SxPagedCollection<VMEducation>
@{
    ViewBag.Title = "Образование";
    ViewBag.H1 = ViewBag.Title;
    VMEducation item;
    var filter = (SxFilter)ViewBag.Filter;
}

@section styles{
    <link href="~/content/dist/css/lightbox.min.css" rel="stylesheet" />
}

@section intro{
    Образование по годам
}

@if (Model.Collection.Any())
{
    for (int i = 0; i < Model.Collection.Length; i++)
    {
        item = Model.Collection[i];
        <div class="education-in-list">
            <div class="education-in-list__year">@item.Year</div>
            <div class="education-in-list__html">
                @Html.Raw(item.Html)
            </div>
            @if (item.Picture != null)
            {
                <div class="education-in-list__btn">
                    <a class="btn btn-sm btn-transparent green" data-lightbox="roadtrip" data-title="@(string.Format("{0} - {1}", item.Year, CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(item.Month)))" href="@Url.Action("Picture", "Pictures", new { id = item.Picture.Id })" >Показать документ</a>
                </div>
            }
        </div>
        <hr />
    }

    <div class="text-center">
        @Html.SxPager(filter.PagerInfo, x => Url.Action("Index", "Education", new { page = x }), htmlAttributes: new { @class = "pagination pagination-sm" }, isAjax: false)
    </div>
}

@section scripts{
    <script src="~/content/dist/js/lightbox.min.js"></script>
}