@model SxVMEditSeoTags
@{
    Layout = null;
    var isNew = Model.Id == 0;
}

<h3>Заголовок, описание, ключевые слова материала</h3>

@if (!isNew)
{
    <div class="text-right">
        @using (Ajax.BeginForm("DeleteForMaterial", new { controller = "SeoTags" }, new AjaxOptions { HttpMethod = "post", UpdateTargetId = "seo" }))
        {
            @Html.AntiForgeryToken()
            <input type="hidden" name="Id" value="@Model.Id" autocomplete="off" />
            <input type="hidden" name="MaterialId" value="@Model.MaterialId" autocomplete="off" />
            <input type="hidden" name="ModelCoreType" value="@Model.ModelCoreType" autocomplete="off" />
            <button type="submit" class="btn btn-danger" onclick="if (!confirm('Удалить теги?')) { return false;}">Удалить</button>
        }
    </div>
}

@if (TempData["ModelSeoInfoRedactInfo"] != null)
{
    <p class="text-success">@TempData["ModelSeoInfoRedactInfo"]</p>
}

@using (Ajax.BeginForm("EditForMaterial", new { controller = "SeoTags" }, new AjaxOptions { HttpMethod = "post", UpdateTargetId = "seo" }))
{
    @Html.AntiForgeryToken()
    <input type="hidden" name="Id" value="@Model.Id" autocomplete="off" />
    <input type="hidden" name="MaterialId" value="@Model.MaterialId" autocomplete="off" />
    <input type="hidden" name="ModelCoreType" value="@Model.ModelCoreType" autocomplete="off" />


    @Html.Partial("_GeneralEdit")

    <br />
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </div>
        </div>
    </div>
}


@if (!isNew)
{
    <div id="seo-kw">
        @Html.Action("Index", "SeoKeywords", new { stid = Model.Id })
    </div>
}
