@model VMEducation[]
@{
    ViewBag.Title = "Образование";
}
@section styles{
    <link href="@Url.Action("Css", "StaticContent", new { name="lightbox", area=""})" rel="stylesheet" />
    <style>
        #grid tbody > tr > td.column-picture, #grid tbody > tr > td.column-order {
            text-align: center;
            vertical-align: middle;
        }
    </style>
}

<h1>@ViewBag.Title</h1>
<div id="grid">
    @Html.Partial("_GridView", Model)
</div>
@section scripts{
    <script src="@Url.Action("Js", "StaticContent", new { name="lightbox", area=""})"></script>
    <script>
        $(function () {
            var gv = new SxGridView('#grid');
        });

        function changeEducationOrder(id, dir, page)
        {
            $.ajax({
                url: '@Url.Action("ChangeOrder", "Education")',
                method:'post',
                data: { id: id, dir: dir, page: page },
                success:function(result)
                {
                    $('#grid').html(result);
                }
            });
        }
    </script>
}