@{
    ViewBag.Title = ViewBag.Title ?? "Контакты";
    ViewBag.H1 = ViewBag.H1 ?? ViewBag.Title;
    var address = SiteSettingsProvider["address"]?.Value;
    var addressmap = SiteSettingsProvider["addressmap"]?.Value;
}

@section intro{
    Контактная информация
}

<div class="contacts">
    @if (!string.IsNullOrEmpty(address))
    {
        <div class="contacts__address">
            @address
        </div>
    }
    <div class="contacts__phone1">
        @global_asax.Settings["phone1"]
    </div>
    <div class="contacts__phone2">
        @global_asax.Settings["phone2"]
    </div>
    <div class="contaacts__email">
        <a href="mailto:jdsl24221@ya.ru">jdsl24221@ya.ru</a>
    </div>

    @if (!string.IsNullOrEmpty(addressmap))
    {
        <h2>Расположение</h2>
        <div class="contaacts__map">
            @Html.Raw(addressmap)
        </div>
    }

    <h2>Задайте вопрос или запишитесь на прием</h2>
    <div id="question">
        @Html.Action("Add", "Questions")
    </div>
</div>

@section scripts{
    <script src="@Url.Action("Js", "StaticContent", new { name="jquery.validate"})"></script>
    <script src="@Url.Action("Js", "StaticContent", new { name="jquery.validate.unobtrusive"})"></script>
    <script src="@Url.Action("Js", "StaticContent", new { name="jquery.unobtrusive-ajax"})"></script>
}