@{
    ViewBag.Title = ViewBag.Title ?? "Главная";
    ViewBag.H1 = ViewBag.H1 ?? "Светлана Валлиулина";
    var pictureId = SiteSettingsProvider["sitelogopath"]?.Value;
    Guid pictureGuid = Guid.Empty;
    var siteDesc = SiteSettingsProvider["sitedesc"]?.Value;
}

@section intro{
    Психолог
}

<div class="home-page">
    <div class="home-page__top">
        @if (!string.IsNullOrEmpty(pictureId) && Guid.TryParse(pictureId, out pictureGuid))
        {
            <figure class="home-page__owner">
                @if (pictureId != null)
                {
                    <img alt="Светлана Валлиулина" class="home-page__owner-img" src="@Url.Action("Picture", "Pictures", new { id = pictureGuid })" />
                }
                @*<figcaption>
                    <a class="btn btn-lg btn-transparent green" href="@Url.Action("Edit", "Questions")">Записаться</a>
                </figcaption>*@
            </figure>
        }

        @if (!string.IsNullOrEmpty(siteDesc))
        {
            <div class="home-page__desc">
                @Html.Raw(siteDesc)
            </div>
        }
    </div>

    <div class="home-page__services">
        @Html.Action("MainPageServices", "Services", new { amount = 3 })
    </div>

    <div class="home-page__situations">
        @Html.Action("MainPageSituations", "Situations", new { amount = (int?)null, maxAmount = 30 })
    </div>
</div>
