<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@(ViewBag.Title == null ? "admin | "+ MvcApplication.SiteSettingsProvider.Get(Settings.siteName).Value : ViewBag.Title + " | "+Settings.adminPanelName+" | " + MvcApplication.SiteSettingsProvider.Get(Settings.siteName).Value)</title>

    <link href="~/Areas/Admin/content/dist/css/site.min.css" rel="stylesheet" />
    @RenderSection("styles", false)
</head>
<body>
    <div id="wrapper">

        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index","Home", new { area="Admin"})">@Settings.adminPanelName @Settings.adminPanelVersion</a><br />
            </div>

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <form method="post" action="@Url.Action("LogOff", "Account", new { area=""})" style="display:none;">
                                @Html.AntiForgeryToken()
                            </form>
                            <a href="javascript:void(0)" onclick="if(confirm('Вы действительно хотите покинуть панель управления?')){$(this).prev('form').submit();}"><i class="fa fa-sign-out fa-fw"></i> Выйти</a>
                        </li>
                    </ul>
                </li>
            </ul>

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="@Url.Action("Index", "Home", new { area = "" })"><i class="fa fa-home fa-fw"></i> На сайт</a>
                        </li>

                        <li>
                            <a href="@Url.Action("Index", "Questions")"><i class="fa fa-question-circle" aria-hidden="true"></i> Вопросы и обращения</a>
                        </li>

                        <li>
                            <a href="@Url.Action("Index", "Requests", new { area = "Admin" })"><i class="fa fa-history fa-fw"></i> Статистика запросов</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><i class="fa fa-crop fa-fw"></i> Мультимедиа<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="@Url.Action("Index", "Pictures", new { area="Admin"})"><i class="fa fa-image fa-fw"></i> Фото-контент</a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="#"><i class="fa fa-archive fa-fw"></i> Материалы<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="@Url.Action("Index", "Articles")">Статьи</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "MaterialCategories", new { mct= SX.WebCore.Enums.ModelCoreType.Article })">Категории статей</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "Services", new { area= "Admin" })">Услуги</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "Education", new { area= "Admin" })">Образование</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Situations", new { area= "Admin" })"><i class="fa fa-sitemap" aria-hidden="true"></i> Ситуации</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-cog fa-fw"></i> Seo оптимизация<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="@Url.Action("Index", "SeoTags", new { area = "Admin" })"><i class="fa fa-cogs"></i> Метатеги</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "Redirects", new { area = "Admin" })"><i class="fa fa-arrow-right"></i> 301 редирект</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("EditRobotsFile", "Seo", new { area = "Admin" })"><i class="fa fa-ship"></i> robot.txt</a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="@Url.Action("EditSite", "SiteSettings", new { area = "Admin" })"><i class="fa fa-wrench fa-fw"></i>  Настройки сайта</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div id="page-wrapper">
            <small class="pull-right text-muted">Последний старт: @MvcApplication.LastStartDate</small>
            @RenderBody()
        </div>
    </div>

    <script src="~/Areas/Admin/content/dist/js/site.min.js"></script>
    <script src="~/content/dist/js/jquery.unobtrusive-ajax.min.js"></script>
    <script>
        $(function () {
            tunePage();

            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
    @RenderSection("scripts", false)
</body>
</html>