@model SxVMEditPicture
@{
    var isNew = Model.Id == Guid.Empty;
}

<h2>
    @(isNew ? "Добавить фото" : "Редактировать фото")
</h2>
@if (!isNew)
{
    <form method="post" action="/pictures/delete">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.Id)
        <button type="submit" class="btn btn-danger pull-right" onclick="if(!confirm('Удалить запись?')){return false;}">Удалить фото</button>
    </form>
}
<br />
<form method="post" action="edit" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.ImgFormat)

    <div class="row">
        <div class="col-md-12">
            @Html.LabelFor(x => x.Caption, new { @class = "control-label" })
            @Html.EditorFor(x => x.Caption, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(x => x.Caption)
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            @Html.LabelFor(x => x.Description, new { @class = "control-label" })
            @Html.EditorFor(x => x.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(x => x.Description)
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-md-12">
            <label class="control-label">Выбор фото</label>
            <input type="file" name="file" class="hidden" />
            <div class="input-group">
                <input type="text" class="form-control select-input" placeholder="Выберите изображение">
                <span class="input-group-btn">
                    <button class="btn btn-default select-btn" type="button">Выбрать</button>
                </span>
            </div>
        </div>
    </div>
    <br />
    @if (!isNew)
    {
        <img alt="@Model.Caption" src="/pictures/picture/@Model.Id" />
        <br />
    }
    <br />
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <button type="submit" class="btn btn-primary">@(Model.Id == Guid.Empty ? "Добавить" : "Сохранить")</button>
                @Html.RouteLink("Назад", new { action = "Index" }, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
</form>

@section scripts{
    <script type="text/javascript">
        $(function () {
            $('[type="file"]').change(function (e) {
                var file = e.target.files[0];
                @if(isNew)
                {
                    <text>
                $('#Caption').val(file.name);
                $('#Description').val('Name: ' + file.name + '\nType: ' + file.type + '\nSize: ' + file.size + ' byte');
                $('#ImgFormat').val(file.type);
                </text>
                }
                $('.select-input').val(file.name);
            });

            $('.select-btn').click(function () {
                $(this).closest('.input-group').prev('[type="file"]').click();
            });

            $('.select-input').click(function () {
                $(this).closest('.input-group').find('.select-btn').trigger('click');
            });
        });
    </script>
}
