@model SxVMPicture[]
@{
    ViewBag.Title = "Фото-контент";
}

@section styles{
    <link href="~/Areas/Admin/content/dist/css/lightbox.min.css" rel="stylesheet" />
    <style>
        #grid-pictures tbody > tr:not(.empty-data-row) > td:last-child{
            text-align:center;
            vertical-align:middle;
        }
    </style>
}



<h2>@ViewBag.Title</h2>
<div class="alert alert-warning">
    <strong>Внимание!</strong> При добалении изображений не допускайте разрастания базы данных. Размер добавляемого файла не должен превышать <b>@(int.Parse(System.Configuration.ConfigurationManager.AppSettings["MaxPictureLength"])/1024) Kb</b>. Перед добавлением рекомендуется сжать изображение специализированным online-сервисом (например <a href="http://resizepiconline.com" rel="nofollow" target="_blank"><b>http://resizepiconline.com</b></a>)
</div>
<div class="text-right">
    <div class="form-group">
        <form method="post" action="@Url.Action("AddMany","Pictures")" enctype="multipart/form-data" id="multiform">
            @Html.AntiForgeryToken()
            <input type="file" name="files" id="files" class="hidden" multiple />
        </form>
        <a href="javascript:void(0)" class="btn btn-default" onclick="$('#files').click(); return false;"><i class="fa fa-bars" aria-hidden="true"></i> Множественное добавление</a>
        <button class="btn btn-warning" data-toggle="modal" data-target="#delPicturesModel"><i class="fa fa-trash" aria-hidden="true"></i> Очистить</button>
    </div>
</div>
<div id="grid-pictures">
    @Html.Partial("_GridView", Model)
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="delPicturesModel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Очистка БД изображений</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-warning">
                    <strong>Внимание!</strong> При удалении не удаляются фото, используемые в разметке материалов.
                </div>
                <div id="freePictures">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary">Приступить</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Areas/Admin/content/dist/js/lightbox.min.js"></script>
    <script>
        $(function () {
            $('#grid-pictures, #freePictures').sx_gv();

            $('#files').change(function () {
                $('#multiform').submit();
            });

            $('#delPicturesModel').on('show.bs.modal', function (e) {
                $body = $('#freePictures');
                $.ajax({
                    method: 'get',
                    url: '@Url.Action("FreePictures", "Pictures")',
                    success: function (result) {
                        $body.html(result);
                        $body.find('[data-toggle="tooltip"]').tooltip();
                    }
                });
            })
        });
    </script>
}